.subTitle {
  color: gray;
  font-size: 16px;
  font-weight: 400;
}

.title {
  font-size: 28px;
}

.travel {
  background-color: #ff7857;
}
.culture {
  background-color: #ffb14f;
}
.food {
  background-color: #7fb881;
}
.fashion {
  background-color: #775aec;
}
.style {
  background-color: #789cff;
}
.coding {
  background-color: #5e4fff;
}

.postTitle {
  font-size: 18px;
  font-weight: 500;
  color: var(--softTextColor);
}

.items {
  margin: 35px 0 60px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.categoryItem {
  text-align: center;
  border-radius: 10px;
  padding: 5px 0;
}
