.title {
  background-color: coral;
  color: while;
  padding: 5px 10px;
  text-align: center;
}

.content {
  display: flex;
  gap: 50px;
}

@media screen and (max-width: 1024px) {
  .content {
    flex-direction: column;
    gap: 30px;
  }
}
